*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url(../images/champion-rengar-splash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121214 ;
    color: rgb(255, 255, 255);
    margin: 5% 20px;
    overflow: hidden;
    
}

h1{
    margin-top: 50px;
    font-weight: 500;
}

#container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 6vh;
}

.lado-a{
    display: flex;
    padding: 60px;
    flex-direction: column;
    font-size: 20px;
    line-height: 45px;
    width: 50vw;
}

.lado-b{
    height: 500px;
    width: 50vw
}

.lado-b p{
    text-align: center;
    margin:10px;
    padding: 20px;
    background-color:  hsl(248, 32%, 49%);
    border-radius: 10px;
    font-size: 20px;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: hsl(220deg 61% 9% / 36%);
    height: auto;
    width: auto;
    padding: 15px 40px;
    border-radius: 8px;
}

input{
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 30px;
}

input:focus{
    padding: 20px;
    background-color: white;
}

button{
    margin-top: 10px;
    border-radius: 10px;
    border: 0px;
    padding: 20px;
    width: 90%;
    color: white;
    background-color:hsl(248, 32%, 49%);
}